<?php

define('OSM_USER','user');
define('OSM_PASSWORD','password');

define('MSG_SUBJECT',"subject");
define('MSG_BODY_FILE','messages/test.md');
define('MSG_RECIPENTS','messages/to.txt');

        
